<h1>Welcome to the Full Stack Stack Fill </h1>
<ul>
    <% @blogs.each do |blog| %>
    <li> <%= link_to blog.title, blog_path(blog.id) %> </li>
    <% end %>
</ul>

<p> <%= link_to 'Fill the Stack', new_blog_path %> </p>